/*******************************************************************************
 * style.scss
 *
 * This file shouldn't directly contain any SCSS code, instead it only serves to
 * combine the SCSS contained in other Sass partials through @import directives.
 *
 * BASE............Styling for common HTML and Drupal elements.
 * LAYOUT..........Styles for the page structure that contain components.
 * COMPONENTS......Components, their modifiers and sub-components.
 ******************************************************************************/

@import "utils";
@import "base";
@import "layout";
@import "components";

body {
    margin: 0px;
    background: rgba(252, 250, 242, 0.58);
    margin-top: -43px;
    font-family: 'Josefin Sans'; 
}

p {
    font-weight: 300;
    font-size: 1.4em;
}

h1 {
    font-weight: normal;
}

.l-header {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 0px !important;
    height: 150px !important;
}

.l-branding {
    margin: 0 auto;
    float: none;
    text-align: center;
    width: 100%;
    background: rgb(177, 49, 49);
    background-image: url('../images/stars.png');
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100px;

    .site-name {
        padding-top: 20px;
        font-weight: 100;
        font-family: 'neoretrofillregular';
        font-size: 4em;

        a {
            color: rgb(240, 240, 240);
            text-decoration: none;
        }

        a:hover {
            color: rgb(240, 240, 240);
        }
    }
}

.l-region--navigation {
  margin-top: 10px;

    #block-system-main-menu {
        ul {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            display: block;
            padding-left: 0px;
            font-family: 'Josefin Sans'; 
            font-weight: 700;
            font-size: 1.5em;
        }

        li {
            list-style: none;
            display: inline;
            margin-left: 10px;
        }

        a, a:visited {
            text-decoration: none;
            color: #3D56B9;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.l-main {
    width: 80%;
}
