a.mobile-button {
  margin-right: 10px;
  width: 40px;
  background: rgba(206, 203, 190, 0.58);
  height: 23px;
  border: 1px solid rgba(180, 180, 179, 0.58);
  display: none;
  margin-top: -30px;
}

span.bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: rgb(145, 145, 145);
  margin: 0 auto;
  margin-top: 4px;
}

@media (max-width: 900px) {

  a.mobile-button {
    display: block;
  }
}

